@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url(../images/banner1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%100%;
    }
</style>





<div class="about-section">
    <footer style="font-size:large;">
        <br />

        No more worries about petrol mileage, fuel costs, insurance, and car breakdowns!Carly has enabled driving convenience for travellers around the country and is fast expanding its reach to cities.
        Self drive cars from Carly have given customers more control, privacy, and freedom. Book a self drive car in any city you visit with the Carly website on your phone and feel at home wherever you go.
    </footer>
</div>